*,
*::before,
*::after {
    box-sizing: border-box;
}

:root{
    --clr-dark: rgb(13, 17, 19);
    --clr-light: #fff;
    --clr-accent: rgb(222, 53, 0);
    --clr-accent-dark: rgb(163, 38, 0);
    --clr-secondary: rgb(0, 62, 163);
}

body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--clr-dark);
    color: var(--clr-light);
}